@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import 'tailwindcss';

body {
    font-family: "Quicksand",sans-serif;
    @apply bg-gradient-to-r from-cyan-950 via-cyan-900 to-cyan-950 text-white
}